
body,.container.main_div{
    /*background-color: #fafafa;*/
}

li{
    list-style: none;
     /*padding-right: 100px;*/
}

.post{ 
    border: 1px solid black;
    border-style: none none dotted;
    margin-bottom: 10px;
    padding: 10px;
}

header.masthead{
/*    margin-bottom: 40px;*/
    margin-bottom: 5%;
}

ul{
    padding: 0px;
}

.min-heading{
    margin: 0px;
    margin-bottom: 3px;
}
.min-desc{
    margin: 0px;
    margin-top: 3px;
    color: #505050;
}
.min-date{
    margin: 0px;
    margin-top: 3px;
    color: #505050;
}
.post-min{
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 7px; 
}
.post-min:hover{
    cursor: pointer;
}

.main_div{

    max-width: 51rem;
    /*max-width: 50%;*/
    margin-left: 29%;
    margin-right: 30%;
    padding: 21px;
    z-index: 1;
    background: #ffffff;
    font-size: 16px;

}

.masthead-title div{
 display: inline-block;
}
.masthead-title a{
    display: inline-block;
}
.spacer{
    margin: 0px;
    margin-left: 17px;
    margin-right: 17px;
}

/* svg backup for menu class: fa gh; */
.gh:before{
    font-size: 24px;
    color: black;
    content: ' ';
    display: inline-block;
    background-size: 22px 22px;
    margin: 0px;
    background-image: url('img/github.svg');
    width: 22px;
    height: 22px;
}

.anim pre{
    font-size:16px;
    color: #515151;
}

.main_div  pre{
      background-color: #f9f9f9;
      padding: 1rem;
}

.anim{
    width: 80px;
    position: absolute;
    z-index: -1;    
}

#anim{
    /*left: 6%;*/
}
#anim_r{
    left: 76%;
    transform: translateX(-100%);
}

@media screen and (max-width: 700px) {

    .main_div{

        max-width: 80%;
        margin: 0 auto;/
        /*padding: 21px;*/
        z-index: 1;
        background: #ffffff;
        font-size: 16px;

    }
    .spacer{
        margin: 0px;
        margin-left: 9px;
        margin-right: 9px;
    }

}
