/*#a123fe;*/
html {
  font-size: 16px;

}

/*#root{
  font-size: 16px;
}*/

body {
/*  font-size: 20px;
*/  line-height: 1.5;
  color: #000000;
  background-color: #fff;
  font-family: Helvetica,Arial,sans-serif;
}

a {
  color: #268bd2;
  text-decoration: none;
}
a strong {
  color: inherit;
}

a:hover{
  text-decoration: underline;
}
/*a:focus {
  text-decoration: none;
}
a:active{
  text-decoration: underline;
}
*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .3em;
  font-weight: bold;
  line-height: 1.25;
  color: #000000;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2em;
}

h2 {
  margin-top: 1em;
  font-size: 1.5em;
}

h3 {
  margin-top: 1.2em;
  font-size: 1.25em;
}

h4, h5, h6 {
  margin-top: 1em;
  font-size: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

strong {
  color: #303030;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5em;
}

code,
pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  background-color: #f9f9f9;
}

pre {
  margin-top: 0;
  margin-bottom: 1em;
  /*padding: 1rem;*/
  font-size: .8em;
  /*line-height: 1.4;*/
/*  background-color: #f9f9f9;*/
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  
}

blockquote {
  padding: .5em 1em;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: 0.25em solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

table {
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
table td,
table th {
  padding: .25em .5em;
  border: 1px solid #e5e5e5;
}
table tr:nth-child(odd) td,
table tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.container {
 /* max-width: 38rem;*/
/*  padding-left: 1rem;
  padding-right: 1rem;*/
  margin-left: auto;
  margin-right: auto;
}

.masthead {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  margin-top: 22px;
}
.masthead .masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  /*color: #000000;*/
  color: #505050;  
  font-size: 24px;
  
}
.masthead .masthead-title a {
  color: #505050;
 /* color: #000000;*/
}
.masthead .masthead-title small {
  /*color: #c0c0c0;*/
  color: #000000;
  font-size: 75%;
  font-weight: 400;
  letter-spacing: 0;
}

.post {
  margin-bottom: 4em;
}
.post .post-title {
  margin-top: 0;
}
.post .post-date {
  display: block;
  margin-top: -.5em;
  margin-bottom: 1em;
}

.post-title,
.post-title a {
  color: #303030;
  font-size: 18pt;
}

.post-date {
  color: #9a9a9a;
}
