
body,.container.main_div{
    /*background-color: #fafafa;*/
}

li{
    list-style: none;
     /*padding-right: 100px;*/
}

.post{ 
    border: 1px solid black;
    border-style: none none dotted;
    margin-bottom: 10px;
    padding: 10px;
}

header.masthead{
    margin-bottom: 40px;
}

ul{
    padding: 0px;
}

.min-heading{
    margin: 0px;
    margin-bottom: 3px;
}
.min-desc{
    margin: 0px;
    margin-top: 3px;
    color: #505050;
}
.min-date{
    margin: 0px;
    margin-top: 3px;
    color: #505050;
}
.post-min{
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 7px; 
}
.post-min:hover{
    cursor: pointer;
}

.main_div{

    max-width: 51rem;
    /*max-width: 50%;*/
    margin-left: 26%;
   /* margin-left: 23%;*/
    padding: 21px;
    z-index: 1;
    background: #ffffff;
    font-size: 16px;

}

/* svg backup for menu class: fa gh; */
.gh:before{
    font-size: 24px;
    color: black;
    content: ' ';
    display: inline-block;
    background-size: 22px 22px;
    margin: 0px;
    background-image: url('img/github.svg');
    width: 22px;
    height: 22px;
}

.anim pre{
    font-size:16px;
    color: #515151;
}

.main_div  pre{
      background-color: #f9f9f9;
      padding: 1rem;
}

