
body,.container.main_div{
    /*background-color: #fafafa;*/
}

li{
    list-style: none;
     /*padding-right: 100px;*/
}

header.masthead{
/*    margin-bottom: 40px;*/
    margin-bottom: 6%;
}

ul{
    padding: 0px;
}
li.post-min:first-child{
    margin-top: 5em;
    /*margin-top: 8%;*/
}
.min-heading{
    margin: 0px;
    margin-bottom: 3px;
}
.min-desc{
    margin: 0px;
    margin-top: 3px;
    color: #505050;
}
.min-date{
    margin: 0px;
    margin-top: 3px;
    color: #505050;
}

.post{ 
    border-bottom: .05em dotted black;
    margin-bottom: 10px;
    padding: 10px;
}

.post-min{
    padding-bottom: 5px;
    padding-top: 5px;
    /*margin: 7px;*/ 
}
.post-min:hover{
    cursor: pointer;
}

.main_div{

    max-width: 51rem;
    /*max-width: 50%;*/
    margin-left: 28.5%;
    margin-right: 30%;
    padding: 21px;
    z-index: 1;
    background: #ffffff;
    font-size: 16px;

}

.masthead-title div{
 display: inline-block;
}
.masthead-title a{
    display: inline-block;
}
.spacer{
    margin: 0px;
    margin-left: 17px;
    margin-right: 17px;
}

/* svg backup for menu class: fa gh; */
.gh:before{
    font-size: 24px;
    color: black;
    content: ' ';
    display: inline-block;
    background-size: 22px 22px;
    margin: 0px;
    background-image: url('img/github.svg');
    width: 22px;
    height: 22px;
}

.anim pre{
    font-size:16px;
    color: #515151;
}

.main_div  pre{
      background-color: #f9f9f9;
      padding: 1rem;
}

.anim{
    width: 80px;
    position: absolute;
    z-index: -1;    
}

#anim{
    /*left: 6%;*/
}
#anim_r{
    left: 76%;
    transform: translateX(-100%);
}

.min-heading{
    font-size: 1em;
}
li.post-max{
    padding: 5px;
}
header.masthead{
   /* margin-bottom: 0px;*/
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25)      and (min-width: 700px)  and (max-width: 2000px),
only screen and (   min--moz-device-pixel-ratio: 1.25)      and (min-width: 700px)  and (max-width: 2000px),
only screen and (     -o-min-device-pixel-ratio: 1.25/1)    and (min-width: 700px)  and (max-width: 2000px),
only screen and (        min-device-pixel-ratio: 1.25)      and (min-width: 700px)  and (max-width: 2000px){ 

    .container.main_div{
        max-width: 50rem;
        margin-left: 28.5%;
        margin-right: 30%;
        padding: 16px;
        padding-top: 2px;
        z-index: 1;
        background: #ffffff;
        font-size: 13px;
        line-height: 1.4;
    }
    .masthead-title a{
       /* font-size: 0.78em;*/
       font-size: 0.8em;
    }
    header.masthead{
        margin-bottom: 3em;
    }
    .spacer{
        margin: 0px;
        margin-left: 13px;
        margin-right: 13px;
    }
/*    a#ghbutton::before{
        font-size: 20px;
    }*/
    .gh:before{
        font-size: 24px;
        color: black;
        content: ' ';
        display: inline-block;
        background-size: 0.71em 0.71em;
        margin: 0px;
        background-image: url('img/github.svg');
        width: 0.71em;
        height: 0.71em;
    }
    .fa-github:before{
        font-size: 20px;
    }
    .post-min{
        /*margin: 0;*/
        font-size: 12px;
        padding-bottom: 4px;
        padding-top: 4px;
        /*margin: 7px;*/ 
    }
    .post{
        padding-left: 0.5em;
        /*font-size: 12px;*/
    }
     .post-max p{
        font-size: 1em;
    }
    .post-max img{
        width: 90%;
    }
    .min-heading{
        font-size: 1.1em;
    }
    li.post-max{
        padding: 4px;
        font-size: 0.96em;
    }
    .masthead a{
       /* font-size: 1.1em;*/
    }

    #disp, #disp2{
/*        transform: scale(0.75);
        transform-origin: top center;*/
    }
    .anim pre{
        font-size:12px;
        color: #515151;
    }
    #anim_r pre{
        left: 76%;

    }
    #anim_r{
        transform: translateX(-100%);
    }


}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5)      and (min-width: 700px)  and (max-width: 2000px),
only screen and (   min--moz-device-pixel-ratio: 1.5)      and (min-width: 700px)  and (max-width: 2000px),
only screen and (     -o-min-device-pixel-ratio: 1.5/1)    and (min-width: 700px)  and (max-width: 2000px),
only screen and (        min-device-pixel-ratio: 1.5)      and (min-width: 700px)  and (max-width: 2000px){ 

    .container.main_div{
        max-width: 50rem;
        margin-left: 28.5%;
        margin-right: 30%;
        padding: 15px;
        padding-top: 2px;
        z-index: 1;
        background: #ffffff;
        font-size: 12px;
        line-height: 1.4;
    }
    .masthead-title a{
       /* font-size: 0.78em;*/
       font-size: 0.67em;
    }
    header.masthead{
        margin-bottom: 2em;
        margin-top: 1em;
    }
    .spacer{
        margin: 0px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .gh:before{
        font-size: 20px;
        color: black;
        content: ' ';
        display: inline-block;
        background-size: 0.71em 0.71em;
        margin: 0px;
        background-image: url('img/github.svg');
        width: 0.71em;
        height: 0.71em;
    }
    .fa-github:before{
        font-size: 16px;
    }
    .post-min{
        font-size: 10px;
        /*margin: 4px;*/
        padding-bottom: 3px;
        padding-top: 3px;
        /*margin: 7px;*/ 
    }
    .post{
        padding-left: 0.5em;
        /*font-size: 12px;*/
    }
    .post-max p{
        font-size: 1em;
    }
    .post-max img{
        width: 90%;
    }
    .min-heading{
        font-size: 1.1em;
    }
    li.post-max{
        padding: 6px;
        font-size: 0.9em;
    }
    .masthead a{
       /* font-size: 1.1em;*/
    }

    .anim pre{
        font-size:11px;
        color: #515151;
    }
    #anim_r pre{
        left: 76%;

    }
    #anim_r{
        transform: translateX(-100%);
    }


}

@media screen and (max-width: 700px) {

    .main_div{
        max-width: 86%;
        margin: 0 auto;
        /*padding: 21px;*/
        z-index: 1;
        background: #ffffff;
        font-size: 14px;

    }
    .masthead-title a{
       /* font-size: 0.78em;*/
       font-size: 0.88em;
    }
    header.masthead{
        margin-bottom: 2em;
        margin-top: 1em;
    }
    .post-max{
        padding: 4px;
        font-size: 0.9em;
    }
    .post-min{
        font-size: 14px;
        margin: 4px;
        padding-top: 3px;
        padding-left: 5px;
    }
    .gh:before{
        font-size: 20px;
        color: black;
        content: ' ';
        display: inline-block;
        background-size: 0.71em 0.71em;
        margin: 0px;
        background-image: url('img/github.svg');
        width: 0.71em;
        height: 0.71em;
    }
    .fa-github:before{
        font-size: 18px;
    }
    .spacer{
        margin: 0px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .anim pre{
        font-size: 12px;
        color: #515151;
    }
    #anim_r{
        visibility: hidden;
    }

}

@media screen and (max-width: 400px) {

    .main_div{

        max-width: 86%;
        margin: 0 auto;
        /*padding: 21px;*/
        z-index: 1;
        background: #ffffff;
        font-size: 14px;

    }
    .masthead-title a{
       /* font-size: 0.78em;*/
       font-size: 0.78em;
    }
    header.masthead{
        margin-bottom: 2em;
        margin-top: 1em;
    }
    .post-max{
        padding: 4px;
        font-size: 0.8em;
    }
    .post-min{
        font-size: 12px;
        margin: 2px;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 5px;
    }
    .gh:before{
        font-size: 20px;
        color: black;
        content: ' ';
        display: inline-block;
        background-size: 0.71em 0.71em;
        margin: 0px;
        background-image: url('img/github.svg');
        width: 0.71em;
        height: 0.71em;
    }
    .fa-github:before{
        font-size: 16px;
    }
    .spacer{
        margin: 0px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .anim pre{
        font-size: 11px;
        color: #515151;
    }
    #anim_r{
        visibility: hidden;
    }

}

@media screen and (max-width: 360px) {

    .main_div{
        max-width: 88%;
        padding: 10px;
        z-index: 1;
        background: #ffffff;
        font-size: 14px;
    }
    .masthead-title a{
       /* font-size: 0.78em;*/
       font-size: 0.7em;
    }
    header.masthead{
        margin-bottom: 2em;
        margin-top: 1em;
    }
    .post{
        /*max-width: 90%;*/
    }
    .post-max{
        padding: 4px;
        font-size: 0.75em;
    }
    .post-min{
        font-size: 11px;
        margin: 2px;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 5px;
    }

    .gh:before{
        font-size: 20px;
        color: black;
        content: ' ';
        display: inline-block;
        background-size: 0.71em 0.71em;
        margin: 0px;
        background-image: url('img/github.svg');
        width: 0.71em;
        height: 0.71em;
    }
    .fa-github:before{
        font-size: 15px;
    }
    .spacer{
        margin: 0px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .anim pre{
        font-size: 9px;
        color: #515151;
    }
    #anim_r{
        visibility: hidden;
    }

}
